<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Todo App</title>
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/jquery.min.js"></script>
  <!-- <script src="/todo-list.js"></script> -->
  <script src="/script.js"></script>
</head>
<body>
  <h1 class="">My Todo List</h1>
  <div class="bg-success p-5 m-1">
    <form action="/todo" method="post">
      <input class=" p-4" type="text" name="item" placeholder="Add New Item..." required>
      <input type="hidden" name="date" value="<%= date %>">
      <button type="submit" class="btn btn-lg bg-warning p-4">Add Item</button>
    </form>
    <ul class="list-group">
      <% for (var i = 0; i < todos.length; i ++) { %> 
        <form action='/delete/<%=todos[i]._id%>' method="POST">
          <li class="list-group-item list-group-item-dark m-1 "><p><%= todos[i].item %></p>
            <p><%= todos[i].date%></p>
          
          </li>
          <button id:"cancella" type="submit" class="btn btn-danger ">Delete</button>
          <input type="hidden" name="id" value="<%= todos[i]._id%>">
        </form>
      <% } %>
    </ul>
  </div>
</body>
</html>